*{
    margin: 0;
}

body{
    background-color: rgb(4, 153, 78);
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

nav{
    padding: 3px 4px;
    background-color: rgb(20, 175, 28);
}

nav a{
    margin-right: 8px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: ease;
    transition-duration: 1.0s;
    background-color: rgb(20, 124, 11);
    padding: 0px 4px;
    border-radius: 4px;
}

a:active{
    transition: ease;
    transition-duration: 1.0s;
    background-color: rgb(20, 124, 11);
    padding: 0px 4px;
    border-radius: 4px;
}

main{
    margin-top: 20px;
}

input, button{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
}

#resposta{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.p{
    font-size: 1.5rem;
    font-weight: bold;
}